.head{
  border-bottom: rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.53);
  height: 10vh;
}
