body{
  background: url('../images/bg.png') top left repeat;
}

.bxShadow{
  -webkit-box-shadow: -8px 6px 28px 3px rgba(0,0,0,0.28);
  -moz-box-shadow: -8px 6px 28px 3px rgba(0,0,0,0.28);
  box-shadow: -8px 6px 28px 3px rgba(0,0,0,0.28);
}

.clickable{
  cursor: pointer;
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}

.panel-body{
  display: none;
}

/*****************/
.the-title {
  padding-top:24px;font-size: 28px; line-height: 1.3em; margin-bottom: 26px; text-align: left; margin-left:20px; color:#000;
}

.navbar-default {
  border-bottom:none;
}

.panel-body {
  min-height:138px;
}

/*Content*/
.content-shaded {
  /*background: #ffffff url(../imagess/white.jpg) ;*/

}
/* Margins */

.mt0{ margin-top:0px !important; }
.mb0{ margin-bottom:0px !important; }
.mr0{ margin-right:0px !important; }
.ml0{ margin-left:0px !important; }

.m0 { margin:0px !important; }

.mt5{ margin-top:5px !important; }
.mb5{ margin-bottom:5px !important; }
.mr5{ margin-right:5px !important; }
.ml5{ margin-left:5px !important; }

.m5 { margin:5px !important; }


.mt10{ margin-top:10px !important; }
.mb10{ margin-bottom:10px !important; }
.mr10{ margin-right:10px !important; }
.ml10{ margin-left:10px !important; }

.m10 { margin:10px !important; }


.mt15{ margin-top:15px !important; }
.mb15{ margin-bottom:15px !important; }
.mr15{ margin-right:15px !important; }
.ml15{ margin-left:15px !important; }

.m15 { margin:15px !important; }

.mt20{ margin-top:20px !important; }
.mb20{ margin-bottom:20px !important; }
.mr20{ margin-right:20px !important; }
.ml20{ margin-left:20px; }

.m20 { margin:20px !important; }

/* Paddings */

.pt0{ padding-top:0px !important; }
.pb0{ padding-bottom:0px !important; }
.pr0{ padding-right:0px !important; }
.pl0{ padding-left:0px !important; }

.p0 { padding:0px !important; }

.pt5{ padding-top:5px !important; }
.pb5{ padding-bottom:5px !important; }
.pr5{ padding-right:5px !important; }
.pl5{ padding-left:5px !important; }

.p5 { padding:5px !important; }

.pt10{ padding-top:10px !important; }
.pb10{ padding-bottom:10px !important; }
.pr10{ padding-right:10px !important; }
.pl10{ padding-left:10px !important; }

.p10 { padding:10px !important; }


.pt15{ padding-top:15px !important; }
.pb15{ padding-bottom:15px !important; }
.pr15{ padding-right:15px !important; }
.pl15{ padding-left:15px !important; }

.p15 { padding:15px !important; }

.pt20{ padding-top:20px  !important; }
.pb20{ padding-bottom:20px  !important; }
.pr20{ padding-right:20px  !important; }
.pl20{ padding-left:20px  !important; }

.p20 { padding:20px  !important; }

/* Paddings */

/* aligns */
.align-center {
  text-align:center !important;
}

.align-right {
  text-align:right !important;
}

.align-left {
  text-align:left !important;
}


/* Top bar and header */

.topbar-info {
  background: none repeat scroll 0 0 #fafafa;
  border-bottom: 1px solid #d9dedc;
}

#headerstic {
  border-bottom: 1px solid #d9dedc;
  border-top:1px solid #f5f5f5;
}

#headerstic-sticky-wrapper {
}

#second {
  border-bottom: 2px solid #c9090f;
  border-top: 1px solid #c9cecc;
}

.bottom-footer {
  background: none repeat scroll 0 0 #ffffff;
  border-top: 1px solid #bcbec0;
}

.bottom-footer p {
  color: #828486;
  font-size: 13px;
  font-weight: normal;
}

.foot-menu li a {
  color: #828486;
}

.about-intro-wrap {
  background:transparent;
}

.tabs-left .nav-tabs > li.active > a:after {
  border:0;
}

.logo {
  margin:10px 0 0 10px
}

.navbar {height:75px;}

.purchase-strip-blue .btn {
  border: 3px solid #c9090f;
}


/* Inputs */


/* Custom Buttons */
.btn-block  {
  width:100%;
}

.btn-success {
  background-color: #0daf4b;
  border: 1px solid #0daf4b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 6px 18px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  z-index: 1;
  font-size:18px;
}

.btn-primary {
  background-color: #428bca;
  border: 1px solid #357ebd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 6px 18px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  z-index: 1;
  font-size:18px;
}

.btn-black {
  background-color: #111111;
  border: 1px solid #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 6px 18px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  z-index: 1;
  font-size:18px;
}

.btn-default {

  background-color: #fff;
  color: #333;
  border: 1px solid  #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  padding: 6px 18px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease 0s;
  z-index: 1;
  font-size:18px;
}



/*Noborders*/

.no-border {
  border: 0px;
}

.no-border-l {
  border-left: 0px;
}

.no-border-r {
  border-right: 0px;
}

.no-border-t {
  border-top: 0px !important;
}

.no-border-b {
  border-bottom: 0px !important;
}

/*Register box*/

.register-box-container {padding-top:43px;}
.register-box {width:410px; height:410px; background:#fff; float:left; border-radius:6px; border:1px solid #c9cecc; padding:20px;}
.register-box h2 {font-size:34px; font-weight:300; margin:0;}
.register-box h2 span{color:#eb2127; letter-spacing:2px;}
.register-box hr, .register-box-mobile hr {border-color:#c9cecc; margin-top:15px; margin-bottom:15px;}
.register-box-container p {font-size:16px; margin-bottom:5px;}




.register-box-container-mobile { padding-top:43px; padding-left: 8%;}
.register-box-mobile {  width:94%; min-height:378px; background:#fff; floats:left; border-radius:6px; border:1px solid #c9cecc; padding:20px;}
.register-box-mobile h2 {font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:24px; font-weight:300; margin:0;}
.register-box-mobile h2 span {color:#eb2127; letter-spacing:2px;}
.register-box-mobile h4 {font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px;}
.register-box-container-mobile p {font-size:14px; margin-bottom:5px;}


.inputs label {
  font-size:13px;
  color: rgba(51, 51, 51, 0.81);
}

/*register steps bar*/

.register-steps-bar
{
  background:#fff;
  border-bottom:1px solid #e8edeb;
  background-size:cover!important;
}

.register-content-wrap {
  border:1px solid #e8edeb;
  border-top:0;
  margin-top:-1px;
  z-index:10;
  background:#fff;

  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.register-content-wrap .register-form{
  padding:20px;

}
.register-content-wrap:after {
  content: ' ';
  width: 9px;
  height: 9px;
  background: #fff;
  width:100%;
  position: absolute;
  top:-4px;
  left: 0px;
}

.register-intro-wrap {
  background:#f9f9f9;
  height: auto;
  width: 100%;
}

.tandc {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 0 0 1.4em;
  padding: 1.4em;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: auto
}

/*steps*/
.row.bs-wizard {padding-top:10px;}

.bs-wizard {margin-top: 10px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 10px; text-transform:uppercase;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background: #0daf4b; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 9px; height: 9px; background: #f2f2f2; border-radius: 50px; position: absolute; top: 6px; left: 6px; }
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {background: #f00;}
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0daf4b;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*Input errors*/

.panel {
  box-shadow:none;
}
