<md-dialog flex="55">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Add Account</h2>
          <span flex></span>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div>
          <md-input-container flex>
            <label><span class="glyphicon glyphicon-envelope"></span> New PayPall Account</label>
            <input ng-model="user.newPayPal">
          </md-input-container>
        </div>
      </md-dialog-content>

      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">
          Cancel <span class="glyphicon glyphicon-remove"></span>
        </md-button>
        <md-button ng-click="update(user)" class="md-primary">
          Update <span class="glyphicon glyphicon-save"></span>
        </md-button>
      </div>
    </form>
</md-dialog>


