  <md-card class="effect8 md-padding">
      <h4>My Bank Accounts</h4>
    <div class="row"><hr></div>
      <!----------------Bank search & Add account----------------------------->
    <div class="row">
    <div class="col-sm-6 pull-left">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="searchBank" placeholder="Search Bank account">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
             </span>
      </div>
    </div>
    <div class="col-sm-6">
      <md-button ng-click="showAddBankAct()"  class=" pull-right md-raised md-primary">Add Bank Account</md-button>
    </div>
</div>
   <div class="row"><hr></div>
      <!----------------Bank Accounts Table------------------------->
      <div class="panel panel-default">
        <div class="panel-heading"></div>

        <table class="table table-bordered table-hover" id="dev-table">
          <thead>
          <tr class="text-primary">
            <th flex>#</th>
            <th flex>Date Added</th>
            <th flex>Bank A/C</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="myacts in bActs| filter: searchBank">
            <td>1</td>
            <td>{{myacts.date}}</td>
            <td>{{myacts.act}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--<nav class="text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#">5 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
      </nav>-->


  </md-card>


