<!--Header-->
<!--<md-whiteframe class="md-whiteframe-z1 md-padding" layout="row" style="background-color: #ffffff;">
  <div>
    <a href="#"><img alt="Brand" src="images/equity_bank_positive.png" width="auto" height="65"></a>
  </div>
</md-whiteframe>-->

<nav class="navbar navbar-findcond navbar-fixed-top" style="background-color: #ffffff">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!-- <a class="navbar-brand" href="#">Findcond</a>-->
    </div>

    <md-whiteframe class="md-whiteframe-z1 md-padding" layout="row" style="background-color: #ffffff;">
      <div>
        <a href="#"><img alt="Brand" src="images/equity_bank_positive.png" width="auto" height="65"></a>
      </div>
    </md-whiteframe>


    <div class="collapse navbar-collapse" id="navbar">
<!--------------------NAVBAR LEFT------------------->
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a ui-sref="dashboard"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class=""><a ui-sref="withdraw"><span class="glyphicon glyphicon-send"></span> Withdraw</a></li>
        <li class=""><a ui-sref="transactionHistory"><span class="glyphicon glyphicon-file"></span> Transaction History</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> My Accounts<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="bankActs"><span class="glyphicon glyphicon-list"></span> Bank Account</a></li>
            <li class="divider"></li>
            <li><a ui-sref="paypallActs"><span class="glyphicon glyphicon-list"></span> PayPall Account</a></li>
          </ul>
        </li>
      </ul>
<!--------------------END NAVBAR LEFT------------------->

<!--------------------NAVBAR RIGHT------------------->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome Kevin Ng'ang'a </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="userProfile"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li>
            <li class="divider"></li>
            <li class="bg-danger"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
<!--------------------END NAVBAR RIGHT------------------->
    </div>
  </div>
</nav>
<br><br><br><br>

