<!---------------New User Registration Form------------------------------->
<section class="complete-content content-footer-space content-shaded">
  <div class="main-page-title pull-left">
<!-----------Create Profile Title--------------->
    <div class="container">
      <div class="row">
        <div class="pull-left the-title">Create your Profile</div>
      </div>
    </div>
  </div>
<!-----------End Create Profile Title--------------->

  <div class="register-intro-wrap pull-left">

    <div class="register-steps-bar">

      <div class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

          <div class="col-xs-4 bs-wizard-step active ">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10 col-xs-offset-1 register-content-wrap">
        <Legend class="mt20 ml20">Personal Details</Legend>
        <!--Register top-content-->
        <form class="effect8 register-form col-sm-12">
            <div class="col-sm-6"><!----Align left side---->

                  <div class="inputs">
                    <md-input-container>
                      <label for="firstname"><span class="glyphicon glyphicon-user"></span> First Name</label>
                      <input id="firstname" ng-model="user.firstName">
                    </md-input-container>
                  </div>
                  <div class="inputs ">
                    <md-input-container>
                      <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email Address</label>
                      <input id="email" ng-model="user.email">
                    </md-input-container>
                  </div>
                  <div>
                    <label class="inputs">Gender</label>
                    <md-radio-group ng-model="user.gender">
                      <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                      <md-radio-button value="Female"> Female </md-radio-button>
                    </md-radio-group>
                  </div>

            </div>
            <div class="col-sm-6"><!----Align right side---->

                <div class="inputs">
                  <md-input-container>
                    <label for="lastname"><span class="glyphicon glyphicon-user"></span> Last Name</label>
                    <input id="lastname" ng-model="user.lastName">
                  </md-input-container>
                </div>
                <div class="inputs">
                  <md-input-container>
                    <label for="phone"><span class="glyphicon glyphicon-phone-alt"></span> Phone Number</label>
                    <input id="phone" ng-model="user.phone">
                  </md-input-container>
                </div>
                <div class="inputs">
                  <md-input-container>
                    <label for="datepicker"><span class="glyphicon glyphicon-calendar"></span> Date of Birth</label>
                    <input id="datepicker" ng-model="user.dob">
                  </md-input-container>
                </div>
            </div>
            <!--<div class="col-sm-12">
                <md-checkbox ng-model="user.existingAct"> Existing Equity Bank Account holder?</md-checkbox>
            </div>-->
            <div class="col-sm-12">
              <md-button ng-click="userKYC()" class="md-raised md-primary pull-right" type="submit" value="Verify">Continue
                  <span class="glyphicon glyphicon-forward"></span>
                </md-button>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
