
<md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
  <div flex>
    <img class="pull-left" alt="Brand" src="images/equity_bank_positive.png" width="auto" height="65">
  </div>
</md-whiteframe>
