<!--  -->


<!---------------New User loginOTP Input Form------------------------------->
<section class="complete-content content-footer-space content-shaded">
  <div class="main-page-title pull-left">
    <!-----------Create Profile Title--------------->
    <div class="container">
      <div class="row">
        <div class="pull-left the-title">Create your Profile</div>
      </div>
    </div>
  </div>
  <!-----------End Create Profile Title--------------->

   <div class="register-intro-wrap pull-left">
     <div class="register-steps-bar">
       <div class="container">
         <div class="row bs-wizard" style="border-bottom:0;">

           <div class="col-xs-4 bs-wizard-step disabled ">
             <div class="text-center bs-wizard-stepnum">Step 1</div>
             <div class="progress">
               <div class="progress-bar"></div>
             </div>
             <a class="bs-wizard-dot"></a>
           </div>

           <div class="col-xs-4 bs-wizard-step disabled "><!-- complete -->
             <div class="text-center bs-wizard-stepnum">Step 2</div>
             <div class="progress">
               <div class="progress-bar"></div>
             </div>
             <a class="bs-wizard-dot"></a>
           </div>

           <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
             <div class="text-center bs-wizard-stepnum">Step 3</div>
             <div class="progress">
               <div class="progress-bar"></div>
             </div>
             <a class="bs-wizard-dot"></a>
           </div>

         </div>
       </div>
     </div>

   </div>


  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10 col-xs-offset-1 register-content-wrap">
        <Legend class="mt20 ml20">Login Credentials</Legend>
        <!--Register top-content-->
        <div class="col-sm-12" novalidate>
          <div ng-show="showOTPInput" id="OTPField" >
            <h5>Enter the One-Time-Password (OTP) sent to the email xxxxxxxxxx to continue</h5>
            <md-input-container class="">
              <label for="OTP"><span class="glyphicon glyphicon-lock"></span> one time password</label>

              <input id="OTP" ng-model="userOTP.OTP">
            </md-input-container>
            <div class="text-center">
              <md-button ng-click="validateOTP(userOTP.OTP)"class="md-raised md-primary">Continue <span class="glyphicon glyphicon-forward"></span></md-button>
            </div>
            <span class="col-sm-12 alert alert-danger text-center" id="OTPError" ng-show="showOTPErrMsg">{{showOTPErrMsg}}</span>
          </div>
          <div id="pwdField" ng-show="showPwd"><!--Show if OTP is Correct-->
              <h5>Create a New Password</h5>
              <div class="col-sm-6">
                <md-input-container>
                  <label for="newpwd"><span class="glyphicon glyphicon-lock"></span> Enter New Password</label>
                  <input id="newpwd" required ng-model="user.newPwd">
                </md-input-container>
              </div>
              <div class="col-sm-6">
                <md-input-container>
                  <label for="confirmpwd"><span class="glyphicon glyphicon-lock"></span> Confirm New Password</label>
                  <input id="confirmpwd" required ng-model="user.confirmPwd">
                </md-input-container>
              </div>

              <div class="col-sm-12">
                <button ng-click="getPassword()" class="btn btn-lg btn-success pull-right" type="submit" value="Verify">Continue
                  <span class="glyphicon glyphicon-forward"></span>
                </button><br><br><br>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
