<md-whiteframe class="md-whiteframe-z1 md-padding" layout="row" style="background-color: #ffffff;">
  <div>
    <a href="#"><img alt="Brand" src="images/equity_bank_positive.png" width="auto" height="65"></a>
  </div>
</md-whiteframe>

<!-------Contains the login form---------------->

<section class="" style="margin-top: 50px;margin-left: auto;">
  <!-----Login Form----->
      <div class="bxShadow col-sm-5 md-padding pull-right" style="background-color: #ffffff;">
        <Legend class="">Log in to your account</Legend>
        <form id="loginForm">
          <div>
            <md-input-container>
              <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input id="username" required ng-model="user.username">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
              <input type="password" ng-model="user.password" id="password">
            </md-input-container>
          </div>
          <span class="col-sm-12 alert alert-danger text-center" id="loginError" ng-show="showMsg">{{errorMsg}}</span>
          <button ng-click="authorizeLogin(user)" class="btn btn-block" style="background-color: #e58b0a;color: #ffffff">Login
            <span class="glyphicon glyphicon-log-in"></span>
          </button><br>
          <a ui-sref="resetPwd"><span class="glyphicon glyphicon-flag"></span> Forgot your password?</a>
          <hr>
          <button ui-sref="regionNation" class="btn-default btn-block">Register</button>
        </form>
      </div>
</section>



