
        <div layout layout-sm="column">
<!------Create new password------------------------>
          <md-input-container flex>
            <label>New password</label>
            <input ng-model="user.newPassword">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="user.confirmNewPassword">
          </md-input-container>
        </div>
<!------Create Security Question------------------->
      <h3>Please select three security questions and provide and answer you can remember.</h3>
      <md-input-container>
        <md-select name="" ng-model="" required>
          <md-option value="1">One</md-option>
          <md-option value="2">Two</md-option>
        </md-select>
        <!--<div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
          <div ng-message="required">Required</div>
        </div>-->
      </md-input-container>
<!------Submit Button---------------------------->
      <md-input-container flex>
        <md-button type="submit" class="md-raised">Submit</md-button>
      </md-input-container>
