

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>First name</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>National ID</label>
          <input ng-model="user.nationalid">
        </md-input-container>
        <md-input-container flex>
          <label>Country of Residence</label>
          <input ng-model="user.residence">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Bank Account</label>
          <input ng-model="user.bankaccount">
        </md-input-container>
        <md-input-container id="countryOption" flex>
          <label>Country of Residence</label>
          <input ng-model="user.residence">
        </md-input-container>
      </div>
      <md-input-container flex>
        <md-button ng-click="checkProfile(user)" class="md-raised">continue</md-button>
      </md-input-container>
