
<md-card>
  <md-card-content>
    <h2 class="">Kevin Nganga Njoroge</h2><hr>
    <div layout="row" layout-wrap>
      <div flex="33" style="background-color: red">
        [flex]
      </div>
    <div flex="66" style="background-color: #000088">

    </div>
      </div>
  </md-card-content>
  <md-card-footer>
    Card footer
  </md-card-footer>
</md-card>
