<!---------------New User Registration Form------------------------------->
<section class="complete-content content-footer-space content-shaded">
  <div class="main-page-title pull-left">
    <!-----------Create Profile Title--------------->
    <div class="container">
      <div class="row">
        <div class="pull-left the-title">Create your Profile</div>
      </div>
    </div>
  </div>
  <!-----------End Create Profile Title--------------->

  <div class="register-intro-wrap pull-left">

    <div class="register-steps-bar">

      <div class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

          <div class="col-xs-4 bs-wizard-step active ">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10 col-xs-offset-1 register-content-wrap">
        <Legend class="mt20 ml20">Select Nationality & Country of Residence</Legend>
        <!--Register top-content-->
        <form class="effect8 register-form col-sm-12">
          <div class="col-sm-6"><!----Align left side---->
            <div class="inputs">
              <h5>Nationality : {{user.nationality}}</h5>
              <md-select placeholder="Select Nationality" ng-model="user.nationality" ng-change="checkResidence(user)" md-on-open="loadNationality()">
                <md-option ng-repeat="nationality in nationality" value="{{nationality.name}}">{{nationality.name}}</md-option>
              </md-select>
            </div>
          </div>
          <div class="col-sm-6"><!----Align right side---->
            <div>
              <h5>Country of Residence : {{user.residence}}</h5>
              <md-select placeholder="Country of Residence" ng-model="user.residence" ng-change="checkResidence(user)"  md-on-open="loadResidence()">
                <md-option ng-repeat="residence in residence"" value="{{residence.name}}">{{residence.name}}</md-option>
              </md-select>
            </div>
          </div>
            <div class="inputs" ng-show="showNationalIDInput">
              <md-input-container >
                <label for="ID"><span class="glyphicon glyphicon-pencil"></span> National ID</label>
                <input id="ID" ng-model="user.nationalID">
              </md-input-container>
            </div>

            <div class="inputs" ng-show="showPassPortInput">
              <md-input-container>
                <label for="passport"><span class="glyphicon glyphicon-pencil"></span> Passport Number</label>
                <input id="passport" ng-model="user.passportNo">
              </md-input-container>
            </div>

          <div class="inputs" ng-show="showSubIDInput">
            <md-input-container>
              <label for="subID"><span class="glyphicon glyphicon-pencil"></span> Identification Number</label>
              <input id="subID" ng-model="user.subsidiaryID">
            </md-input-container>
          </div>

          <div class="col-sm-12" ng-show="showContinueButton">
            <md-button ng-click="checkNationRegion(user)" class="md-raised md-primary pull-right" type="submit" >Continue
              <span class="glyphicon glyphicon-forward"></span>
            </md-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

