
  <!---------------Date Search-------------------->
        <md-input-container id="searchByDate">
          <label>Title</label>
          <input ng-model="user.minDate">

        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
-->

    <!--<div style="border: 1px solid red">-->
        <md-input-container id="searchByAmount">
          <label>Min amount</label>
          <input ng-model="user.minAmt" type="number">
        </md-input-container>

        <md-input-container>
          <label>Max amount</label>
          <input ng-model="user.maxAmt" type="number">
        </md-input-container>
      <md-button class="md-primary" md-theme="cyan">Button</md-button>
  <!--  </div>-->
