<!---------------Security Questions Form------------------------------->
<section class="complete-content content-footer-space content-shaded">
  <div class="main-page-title pull-left">
    <!-----------Create Profile Title--------------->
    <div class="container">
      <div class="row">
        <div class="pull-left the-title">Create your Profile</div>
      </div>
    </div>
  </div>
  <!-----------End Create Profile Title--------------->

  <div class="register-intro-wrap pull-left">
    <div class="register-steps-bar">
      <div class="container">
        <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-4 bs-wizard-step disabled ">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

          <div class="col-xs-4 bs-wizard-step  disabled "><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10 col-xs-offset-1 register-content-wrap">
        <Legend class="mt20 ml20">Security Questions</Legend>
        <!--Register top-content-->
        <form class="col-sm-12">
          <h5>Select Three(3) security questions and provide an answer you can remember for each.</h5>
          <!---------------Select Security Question 1------------------------>
          <div class="row col-sm-12">
            <md-select class="col-sm-6" placeholder="Select Security Question 1" ng-model="user.qustOne" md-on-open="loadQuestions()">
              <md-option ng-repeat="secQuest in secQuest" value="{{secQuest.question}}">{{secQuest.question}}</md-option>
            </md-select>
            <md-input-container class="col-sm-6">
              <label for="OTP">answer</label>
              <input id="OTP" ng-model="user.ansQuestOne">
            </md-input-container>
          </div>
          <!---------------Select Security Question 2------------------------>
          <div class="divider"></div>
          <div class="row col-sm-12">
            <md-select class="col-sm-6" placeholder="Select Security Question 2" ng-model="user.qustTwo" md-on-open="loadQuestions()">
              <md-option ng-repeat="secQuest in secQuest" value="{{secQuest.question}}">{{secQuest.question}}</md-option>
            </md-select>
            <md-input-container class="col-sm-6">
              <label for="OTP2">answer</label>
              <input id="OTP2" ng-model="user.ansQuestTwo">
            </md-input-container>
          </div>
          <!---------------Select Security Question 3------------------------>
          <div class="divider"></div>
          <div class="row col-sm-12">
            <md-select class="col-sm-6" placeholder="Select Security Question 3" ng-model="user.qustThree" md-on-open="loadQuestions()">
              <md-option ng-repeat="secQuest in secQuest" value="{{secQuest.question}}">{{secQuest.question}}</md-option>
            </md-select>
            <md-input-container class="col-sm-6">
              <label for="OTP3">answer</label>
              <input id="OTP3" ng-model="user.ansQuestThree">
            </md-input-container>
          </div>

          <!--<span class="col-sm-12 alert alert-danger text-center" id="SecQuestError" ng-show="showSecQuestError">{{showSecQuestError}}</span>-->

          <div class="col-sm-12">
            <button ng-click="checkSecurityQuestions()" class="btn btn-lg btn-success center-block" type="submit" value="Verify">Submit
              <span class="glyphicon glyphicon-saved"></span>
            </button><br>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
