
<section class="effect8">
    <md-card class="md-padding">
      <md-content class="md-padding">
        <div class="row" layout="start center">
          <h4 flex class="md-display-1">Transaction History</h4>
          <md-button class="md-raised"><md-tooltip>Advanced Search Options</md-tooltip>Advanced <span class="glyphicon glyphicon-filter"></span> </md-button>
        </div>
        <hr>
    <!----------------Transaction Table History------------------------->

              <div class="panel panel-default">
                <div class="panel-heading">

                </div>

                <table class="table table-bordered table-hover" id="dev-table">
                  <thead>
                  <tr class="text-primary">
                    <th flex></th>
                    <th flex>Date</th>
                    <th flex>Bank A/C</th>
                    <th flex>PayPal A/C</th>
                    <th flex>Amount</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td></td>
                    <td><input type="text" class="form-control" placeholder="enter Date" ng-model="filterDate"/></td>
                    <td><input type="text" class="form-control" placeholder="enter Bank Account" ng-model="filterBankActs"/></td>
                    <td><input type="text" class="form-control" placeholder="enter PayPall Account" ng-model="filterPayPallActs"/></td>
                    <td><input type="text" class="form-control" placeholder="enter Amount" ng-model="filterAmt"/></td>
                  </tr>
                  <tr ng-repeat="transactions in populateTransactions | filter: filterAmt | filter: filterPayPallActs | filter: filterBankActs | filter: filterDate">
                    <td>{{transactions.id}}</td>
                    <td>{{transactions.date}}</td>
                    <td>{{transactions.bankact}}</td>
                    <td>{{transactions.paypall}}</td>
                    <td>{{transactions.amount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
        <nav class="text-center">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">5 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>

      </md-content>
    </md-card>
</section>
