<md-card class="effect8 md-padding">
  <h4 class="md-display-1">Withdraw from PayPall</h4>
  <div class="row"><hr></div>
  <!----------------Bank search & Add account----------------------------->

  <form class="effect8 register-form col-sm-12">
    <div class="col-sm-4"><!----Align left side---->
      <div class="inputs">
        <h5>Select PayPall Account : {{user.nationality}}</h5>
        <md-select placeholder="account select" ng-model="user.nationality" ng-change="checkResidence(user)" md-on-open="loadNationality()">
          <md-option ng-repeat="nationality in nationality" value="{{nationality.name}}">{{nationality.name}}</md-option>
        </md-select>
      </div>
    </div>
    <div class="col-sm-4"><!----Align right side---->
      <div>
        <h5>Select Bank Account : {{user.residence}}</h5>
        <md-select placeholder="account select" ng-model="user.residence" ng-change="checkResidence(user)"  md-on-open="loadResidence()">
          <md-option ng-repeat="residence in residence"" value="{{residence.name}}">{{residence.name}}</md-option>
        </md-select>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Enter Amount in Dollars</h5>
      <md-input-container flex>
        <label><span class="glyphicon glyphicon-usd"></span> </label>
        <input type="number" ng-model="user.postalCode">
      </md-input-container>
    </div>
    <div class="text-center">
      <md-button class="md-raised md-primary">Withdraw <span class="glyphicon glyphicon-send"></span> </md-button>
    </div>
  </form>

  <div class="row"><hr></div>

  <!--<nav class="text-center">
    <ul class="pagination">
      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
      <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
      <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
      <li class="disabled"><a href="#">5 <span class="sr-only">(current)</span></a></li>
      <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>-->


</md-card>


